body{
	margin: 0 auto;
	font-family: Helvetica;
}
figure{
	background-color: Gold;
    display: block;
    position: relative;
    border-radius: 5px;
    width: 100%;
    /*padding-top: 5%;*/
}
#carta{
	width: 400px;
	margin-left: 150px;

}
figure div{
	text-align: center;
}
.imgpk{
	margin-top: -230px;
	float: center;
	margin-left: -100px;
}
#divtabla{
	margin-top: 2%;
	background-color: #1E90FF;
	border-radius: 5px;
	margin-left: 18px;
	width: 91%;


}
.sptd{
	color: white;
}
#tblinfo{
	padding-left: 3%;
}

#sppok{
	font-size: 1em;
	font-weight: bold;

}

#spPC{
	font-size: .5em;
	margin-left: 220px;
}
#pc{
	/*margin-left: 250px;*/
}
#headdiv{
	display: inline-block;
	height: 40px;
}
table{
	width: 100%;
}
td,th{
	width: 120px;
}
td{
	text-align: center;
}
.sptipo{
	border-radius: 5px;
	height: 25px;
	color: white;
	width: 80px;
}
#infotipos ul{
	display: inline-block;
}
.1{
	background-color: #808080;
}
.2{
	background-color: #1E90FF;
}
.3{
	background-color: LimeGreen;	
}
.4{
	background-color: Orange;
}
.5{
	background-color: yellow;
}
.6{
	background-color:;
}
.7{
	background-color:#FF4500;
}
.8{
	background-color:HotPink;
}
.9{
	background-color: MediumAquamarine;
}
.10{
	background-color:Chocolate;
}
.11{
	background-color:CadetBlue;
}
.12{
	background-color:ForestGreen;
}
.13{
	background-color: DeepPink;
}
.14{
	background-color:Olive;
}
.15{
	background-color:DimGray;
}
.16{
	background-color:Sienna;
}
.17{
	background-color: MediumOrchid;
}
.18{
	background-color: PaleTurquoise;
}


